<div style="background-color: rgb(173,222,231); padding: 30px;">
    <div class="row">
        <div class="col-md-6 p-5">
            <h1 class="text-dark mt-4 ml-5">
                Projetos <br>
                One Pages
            </h1>  
        </div>
        <div class="col-md-6">
            <img src="img/onepage2.gif" class="img-fluid imgMain mt-3" width="300">
        </div>
    </div>      
</div>

<main class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card mt-4">
                <img class="card-img-top" src="img/img2.jpg" alt="Card image cap" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card mt-4">
                <img class="card-img-top" src="img/img2.jpg" alt="Card image cap" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card mt-4">
                <img class="card-img-top" src="img/img2.jpg" alt="Card image cap" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card mt-4">
                <img class="card-img-top" src="img/img2.jpg" alt="Card image cap" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</main>